<div class="envelope-area" (click)="openEnvelope()"></div>
<div class="envelope-back"></div>
<div class="envelope-message">
  <p class="small-quote">When something is important enough, you do it even if the odds are not in your favor.</p>
</div>
<div class="envelope-message-area" (click)="showMessage();"></div>
<div class="envelope-opening"></div>
<div class="envelope-front"></div>
<div class="envelope-shadow"></div>
<div class="display-message" (click)="closeMessage();">
  <a class="close-message" href="#" (click)="closeMessage();">
    <i class="fa fa-times-circle" aria-hidden="false"></i>
  </a>
  <div class="quote-information">
    <h2>Dear Friend,</h2>
    <h1 class="quote">When something is important enough, you do it even if the odds are not in your favor.>When
      something is important enough, you do it even if the odds are not in your favor.>When something is important
      enough, you do it even if the odds are not in your favor.>When something is important enough, you do it even if
      the odds are not in your favor.>When something is important enough, you do it even if the odds are not in your
      favor.>When something is important enough, you do it even if the odds are not in your favor.>When something is
      important enough, you do it even if the odds are not in your favor.>When something is important enough, you do it
      even if the odds are not in your favor.>When something is important enough, you do it even if the odds are not in
      your favor.>When something is important enough, you do it even if the odds are not in your favor.>When something
      is important enough, you do it even if the odds are not in your favor.>When something is important enough, you do
      it even if the odds are not in your favor.>When something is important enough, you do it even if the odds are not
      in your favor.>When something is important enough, you do it even if the odds are not in your favor.>When
      something is important enough, you do it even if the odds are not in your favor.>When something is important
      enough, you do it even if the odds are not in your favor.>When something is important enough, you do it even if
      the odds are not in your favor.</h1>
    <p class="author">&mdash;&nbsp;Your Friend</p>
  </div>
</div>
