<div class="envelope-area" (click)="openEnvelope()"></div>
<div class="envelope-back"></div>
<div class="envelope-message">
  <p class="small-quote">When something is important enough, you do it even if the odds are not in your favor.</p>
</div>
<div class="envelope-message-area" (click)="showMessage();"></div>
<div class="envelope-opening"></div>
<div class="envelope-front"></div>
<div class="envelope-shadow"></div>
<div class="display-message" (click)="closeMessage();">
  <a class="close-message" href="#" (click)="closeMessage();">
    <i class="fa fa-times-circle" aria-hidden="false"></i>
  </a>
  <div class="quote-information">
    <h2>Dear Friend,</h2>
    <h1 class="quote">HAPPY BIRTHDAY! I’m not sure how we became friends, but I’m glad we did. From hanging out in FYP lab to me not wanting to share my charji with you during FYP presentation to partying in Islamabad, it’s been a blast. I’m glad we became good enough friends to trust each other with our secrets over such a short period of time and I wish we had become friends sooner. I’m not very good at this as you might probably know so just appreciate the effort :p. And again, I am sorry for not telling you about that thing I probably should’ve told you about. I hope you become happy and satisfied with your life in America and find new wonderful people there to fill your days. And when you come back, we can party! So, have a great day with lots of fun but not too many presents cuz you’re older now and probably shouldn’t be getting too many presents anyway. Cheers!</h1>
    <p class="author">&mdash;&nbsp;Your Friend</p>
  </div>
</div>
